/* navbar styling */
body {
  background-color: #383a3c;
}
ul li {
  display: inline;
  margin: 0px 10px 0px 10px;
}
ul a {
  text-decoration: none;
  color: rgb(66, 66, 66);
}
ul a:hover {
  color: rgb(66, 66, 66);
}
#view-apps-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#extraLogos {
  display: none;
}
#signin-profile {
  background-color: #4486f7;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  font-weight: 700;
}
#sign-up-button {
  display: inline;
  background-color: transparent;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  transition: 500ms;
}
#sign-up-button:hover {
  background-color: #4486f7;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
}
/* main styling */
.main {
  text-align: center;
  margin: 150px auto;
  width: 70%;
}

.main img {
  margin-bottom: 20px;
}
.main input {
  text-align: left;
  padding: 15px 20px;
  width: 100%;
  border-radius: 50px;
  margin-bottom: 30px;
  transition: 500ms;

  border: 1px solid rgb(182, 182, 182);
}

.main input:focus {
  outline: none;
  transition: 500ms;
  text-align: center;
  box-shadow: 0px 0px 29px -10px rgba(0, 0, 0, 0.75);
}

.main button {
  border: none;
  color: rgb(66, 66, 66);
  padding: 10px 20px 10px 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin: 10px;
}
.main button:hover {
  border: 1px solid rgb(151, 151, 151);
}

/* dialog styling(dialog was done using bootstrap)*/

#viewMoreBt {
  border: none;
  color: rgb(66, 66, 66);
  padding: 10px 20px 10px 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-right: 10px;
}

#viewMoreBt:hover {
  border: 1px solid rgb(151, 151, 151);
}

.col-4 a {
  color: black;
}

.row img {
  margin: 10px;
}
/* Sign up dialog box styling */
.signUpDialog {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.signUpContent {
  background-color: black;
  width: 70%;
  color: white;
  border: 1px solid #888;
  margin: 5% auto;
  text-align: center;
  border-radius: 50px;
  padding: 10px 20px 20px 20px;
}
.SignUpDialogHeader {
  text-align: right;
}
.SignUpDialogHeader button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding: 0;
  height: 25px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}

.signUpContent img {
  width: 20%;
}
.signUpContent form {
  text-align: left;
  margin: 0 auto;
  width: 215px;
  padding-bottom: 20px;
}
.signUpContent form input {
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
}
.signUpContent form div {
  text-align: center;
  margin-top: 20px;
}
#SignUpButton {
  background-image: linear-gradient(
    137.9deg,
    rgba(78, 156, 226, 1) 7.8%,
    rgba(62, 146, 69, 1) 16%,
    rgba(251, 220, 23, 1) 32.7%,
    rgba(242, 160, 35, 1) 50.4%,
    rgba(253, 12, 12, 1) 71.5%,
    rgba(192, 26, 129, 1) 83.1%
  );
  border: none;
  padding: 10px 25px 10px 25px;
  color: white;
  transition: 500ms;
  outline: none;
  text-align: center;
  font-weight: 600;
  cursor: pointer;

  border-radius: 20px;
}
#SignUpButton:hover {
  transition: 500ms;
  padding-right: 50px;
  padding-left: 50px;
}

/* login modal styling done using javascript and css*/
.login-modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.login-content {
  background-color: black;
  width: 70%;
  color: white;
  border: 1px solid #888;
  margin: 5% auto;
  text-align: center;
  border-radius: 50px;
  padding: 10px 20px 20px 20px;
}
.login-content img {
  width: 20%;
}
.login-content div {
  text-align: center;
  padding: 20px;
}
.login-content .close-login {
  text-align: right;
  cursor: pointer;
}
.login-content form {
  text-align: left;
  width: 70%;
  margin: 0 auto;
}
.login-content input {
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
}

.login-content button {
  background-image: linear-gradient(
    137.9deg,
    rgba(78, 156, 226, 1) 7.8%,
    rgba(62, 146, 69, 1) 16%,
    rgba(251, 220, 23, 1) 32.7%,
    rgba(242, 160, 35, 1) 50.4%,
    rgba(253, 12, 12, 1) 71.5%,
    rgba(192, 26, 129, 1) 83.1%
  );
  border: none;
  padding: 10px 25px 10px 25px;
  color: white;
  transition: 500ms;
  outline: none;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
}

.login-content button:hover {
  transition: 500ms;
  padding-right: 50px;
  padding-left: 50px;
}
.close-login {
  font-size: 30px;
}
.signedIn p {
  margin: 0;
}

/* media breakpoints for responsivness */
@media (min-width: 800px) {
  .main input {
    text-align: center;
    padding: 15px 0px;
    width: 520px;
    border-radius: 50px;
    margin-bottom: 30px;
    border: 1px solid rgb(182, 182, 182);
  }
  .signUpContent {
    background-color: black;
    width: 560px;
    color: white;
    border: 1px solid #888;
    margin: 2% auto;
    text-align: center;
    border-radius: 50px;
    padding: 20px;
  }
  .login-content {
    background-color: black;
    width: 560px;
    color: white;
    border: 1px solid #888;
    margin: 2% auto;
    text-align: center;
    border-radius: 50px;
    padding: 20px;
  }
}
@media (max-width: 400px) {
  .main {
    margin: 100px auto;
  }
  .main img {
    width: 230px;
  }
  .signUpContent {
    background-color: black;
    width: 300px;
    color: white;
    border: 1px solid #888;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    padding: 20px;
  }
}
